header {
    .nav-color {
        background-color: #4ea6cc;
    }
}

.header-prof {
    height: 350px;
    background-color: #E4E4E4;
    padding: 50px 0;

    .prof-card-wrapper {
        position: relative;
        height: 250px;
        background-color: #f0f0f0;

        .prof-card {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            width: 70%;
            height: 200px;
            margin: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;

            .user-icon {
                width: 70px;
                height: 70px;
                display: inline-block;
            }

            .user-info {
                display: inline-block;
                width: 85%;
                margin-left: 30px;
                vertical-align: top;
            }
            .shelf-info {
                margin-top: 10px;
                padding-left: 0;

                .shelf-info-list {
                    min-width: 70px;
                    list-style: none;
                    display: inline-block;
                    text-align: center;
                    padding: 10px 10px 0 10px;
                    margin: 5px;
                    background-color: #f2f2f2;
                    border-radius: 4px;
                    text-decoration: none;
                    &:hover {
                        text-decoration: none;
                        opacity: 0.8;
                    }
                    a:hover{
                        text-decoration: none;
                        opacity: 0.8;
                    }
                    dl:hover {
                        text-decoration: none;
                        opacity: 0.8;
                    }

                    dt {
                        font-size: 17px;
                        text-decoration: none;
                        text-align: center;
                        padding-bottom: 5px;
                        color: #A1A1A1;
                    }
                    dd {
                        text-align: center;
                        font-size: 18px;
                        color: #4ea6cc;
                        font-weight: bold;

                        .count-text {
                            font-size: .7rem;
                        }
                    }
                }
            }
        }
    }
}
