header {
    padding: 10px 50px;
    background-color: #F3993E;

    .logo {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
    }
    .logo-icon {
        font-size: 30px;
    }

    .nav-text {
        color: #333;
        margin: 0 10px;
    }
}

.info-wrapper {
    width: 100%;
    height: auto;
    background-color: #f1efef;
    padding: 30px 100px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    .user-info {
        width: 30%;
        height: 150px;
        padding: 30px;
        background-color: #fff;

        .user-icon {
            width: 70px;
            height: 70px;
            display: inline-block;

            img {
                width: 100%;
                border-radius: 35px;
            }
        }
        .user-name {
            display: inline-block;
            padding: 5px 20px;
        }
        .user-edit {
            padding: 5px 0;
        }
    }

    .book-info {
        width: 70%;
        height: 150px;
        padding: 20px;
        background-color: #fff;

        .book-count {
            width: 70px;
            height: 70px;
            padding: 10px;
            margin-top: 40px;
            display: inline-block;
            background-color: #f2f2f2;
            border-radius: 4px;
            text-align: center;

            &:hover {
                text-decoration: none;
                opacity: 0.8;
            }

            a:hover{
                text-decoration: none;
                opacity: 0.8;
            }


            dt {
                font-size: 13px;
                text-decoration: none;
                text-align: center;
                padding-bottom: 5px;
                color: #A1A1A1;
            }

            dd {
                text-align: center;
                font-size: 15px;
                color: #4ea6cc;
                font-weight: bold;
            }

            .count-text {
                font-size: .7rem;
            }


        }
    }
}
