/**
* ユーザー情報
**/

.user {
    background-color: lightblue;
    border-radius: 6px;

    &-mask {
        height: 100%;
        background-color: #eee;
    }

    &-thumbnail {
        max-width: 100px;
        max-height: 100px;
        text-align: center;
        width: 70px;
        height: 70px;
        position: relative;
        overflow: hidden;


        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-link {
            font-size: .6em;
            color: #fff;
        }
    }

    &-title {
        color: #fff;
        font-size: 1.5em;
        padding-top: 5px;
        margin-bottom: 10px;
        text-align: center;
    }

    &-book-count {
        dl {
            min-width: 50px;

            &:hover {
                opacity: .7;
            }
            a {
                color: #777;
            }
            a:hover {
                text-decoration: none;
            }
        }
        dt {
            font-size: 1em;
            color: #666;
        }
        dd {
            font-size: 1.1em;
            margin-bottom: 0;
        }
    }
}


/**
* 書籍一覧
**/

.book {
    background-color: #F8FAFC;

    &-list::after{
        content: "";
        display: block;
        width: 29%;
        margin: 2%;
        height: auto;
        }

    &-item {
        background-color: #fff;
        text-align: center;
        padding: 50px 20px 10px 10px;
        min-height: 360px;

        &-cover {
            .img-trim {
                position: relative;
                overflow: hidden;
              }

              .img-trim img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
        }

        &-body {
            .title {
                    font-size: 1.2em;
                    font-weight: bold;
                    margin: 0 10px;
                    text-align: center;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
            }
        }
    }

    .book-item:hover {
            opacity: .8;
    }
}


.shelf-search-container {
    position: relative;
}

.shelf-serach-input {
    width: 350px;
    height: 3.2em;
    border: 1px solid #999;
    padding: 3px 15px;
    border-radius: 20px;

}

.shelf-search-button {
    cursor: pointer;
    font-size: 1.5em;
    border: none;
    background: none;
    color: #3879D9;
    width: 2em;
    height: 2em;
    outline : none;
    position: absolute;
    top: 0;
    right: 0;
}

.pagination {
    justify-content: center!important;
    margin-top: 50px!important;
}

#img-item {
    max-width: 140px!important;
    max-height: 170px!important;
}
