/**
* 書籍情報
**/
.book-info {
    background-color: rgba(205, 235, 243, 0.4);
    padding-top: 5px;

    &-cover {
        width: 60px!important;
        height: 80px!important;
        text-align: center;
        margin: auto auto;
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }

    .title {
        font-size: 1.4em;
        font-weight: bold;
        color: #444;
    }

    .author {
        color: #fff;
    }

}

.book-detail {
    min-width: 100%;

    dl {
        padding-bottom: 10px;
        border-bottom: 1px solid #666;
    }
    dt {
        font-size: 1.2em;
        text-align: center;
    }
    dd {
        font-size: 1.0em;
    }
}

.book-cover-full {
    width: 140px;
    height: 190px;
    text-align: center;
    margin: 50px auto;
    position: relative;
    overflow: hidden;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.btn-detail {
    font-weight: bold;
    color: #666;
    position: relative;
    bottom: 0;
    display: block;
    margin: 0 auto;
}

.btn-detail:hover {
    text-decoration: none;
    border: none;
    box-shadow: none;

}

.btn-detail:focus {
    text-decoration: none;
    border: none;
    box-shadow: none;
}

/**
* メモ登録フォーム
**/

.memo-form {
    width: 90%;
    margin: 0 auto;

    textarea {
        font-size: 1.2em;
    }

    .post_count {
        font-size: .9rem;
    }

    .count_warning {
        color: yellow;
    }

    .count_danger {
        color: red;
    }
}

/**
* メモ検索
**/

.memo-search {
    width: 90%;
    margin: 0 auto;

    &-form {
        text-align: right;
        position: relative;

        &-input {
            width: 300px;
            height: 3.2em;
            margin-top: 15px;
            border: 1px solid #999;
            padding: 3px 15px;
            border-radius: 20px;
        }
        &-button {
            cursor: pointer;
            font-size: 1.5em;
            border: none;
            background: none;
            color: #3879D9;
            width: 2em;
            height: 2em;
            outline : none;
            position: absolute;
            top: 33px;
            right: 0;
        }
    }
}

/**
* メモ一覧
**/

.memos {
    width: 100%;
    min-height: 500px;
    margin: 0 auto;

}
